@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-navlink a .active {
  background-color: green;
}

@media (prefers-reduced-motion) {
  .skeleton {
    animation-duration: 1s;
  }
}

.btn-appear {
  display: none;
  animation: appeare 0.5s;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.btn-animation {
  animation: rotate 0.4s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(10deg);
  }

  66% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
